﻿<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sign in to your account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/login.min.css" />
</head>
<body>
    <div class="login-container">
        @using (Html.BeginForm("external-login-confirmation", "Account", new { @ref = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "confirmation-form" }))
        {
            <img src="/assets/img/total-solutions-logo.jpg" alt="Total Solutions Group Ltd" class="center-block" />
            <h1 class="text-center">Great success!</h1>
            @Html.AntiForgeryToken()
            <div class="login-box">
                @Html.ValidationSummary(false)
        
                <p class="text-info">
                    You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                    Please enter a user name for this site below and click the Register button to finish
                    logging in.
                </p>

                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div><!-- /login-box -->
        }
    </div><!-- /login-container -->
</body>
</html>