﻿@model LoginViewModel

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Sign in to your account</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300" />
        @Styles.Render("~/css/bootstrap", "~/css/login")
        @Scripts.Render("~/js/modernizr")
    </head>
    <body>
        <div class="login-container">
        @using (Html.BeginForm("Login", "Account", new { @ref = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "login-form" }))
        {
            <img src="/assets/img/total-solutions-logo.jpg" alt="Total Solutions Group Ltd" class="center-block" />
            <h1 class="text-center">Sign in to your account</h1>
            @Html.AntiForgeryToken()
            <div class="login-box">
                <div class="form-group">
                    @Html.LabelFor(m => m.EmailAddress, new { @class = "sr-only" })
                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @placeholder = "Email", @type = "email" })
                </div><!-- /form-group -->

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control password", @placeholder = "Password" })
                </div><!-- /form-group -->
                @Html.ValidationSummary(false)

                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
            </div><!-- /login-box -->
            <div class="clearfix">
                <label class="checkbox pull-left">
                    @Html.CheckBoxFor(m => m.RememberMe) @Html.DisplayNameFor(m => m.RememberMe)
                </label><!-- /checkbox pull-left -->
                <a href="#" class="pull-right need-help">Need help?</a>
            </div><!-- /clearfix -->
        }
        @Html.Partial("Shared/_ExternalLogins", new ExternalLoginViewModel { Action = "external-login", ReturnUrl = ViewBag.ReturnUrl })
        </div><!-- /login-container -->
        
        @Scripts.Render("~/js/jquery", "~/js/login")
        <script>
            jQuery.validator.setDefaults({
                highlight: function(e) {
                    $(e).closest('.form-group').addClass('has-error');
                },
                unhighlight: function(e) {
                    $(e).closest('.form-group').removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'help-block'
            });
        </script>
    </body>
</html>