﻿<div class="carousel slide full-width">
    <div class="carousel-inner">
        <div class="item active">
            <img src="/assets/img/banners/full/480.jpg" alt="Full Width" />
        </div><!-- /item active -->
    </div><!-- /carousel-inner -->
</div><!-- /carousel slide full-width -->