﻿@import "../bootstrap/variables";
@import "variables";
@import "../bootstrap/mixins";
@import "mixins";

html, body {
    height: 100%;
}

body {
    background: #fbfbfb;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 62.5%;
}

.page-wrap {
    min-height: 100%;
    padding-bottom: @footer-size + 50px;
}

@import "type";
@import "modules/buttons";

@import "modules/search";

@import "modules/site-header";
@import "modules/navigation";

@import "modules/features";
@import "modules/products";

@import "modules/site-footer";

@import "themify-icons";