﻿body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 30px;
}

.login-container {
    margin: 0 auto;
    width: 330px;
}

.login-box {
    background: #f7f7f7;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    padding: 20px 15px;
}

h1 {
    font-weight: 300;
    margin-top: 10px;
}

.checkbox {
    font-weight: normal;
    margin-top: 0;

    input[type="checkbox"] {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background: #fff;
        border: 1px solid #ccc;
        cursor: pointer;
        display: inline-block;
        float: none;
        height: 13px;
        margin-top: -2px;
        outline: 0;
        position: relative;
        vertical-align: middle;
        width: 13px;

        &:checked:after {
            content: url('/assets/img/ui/controls/checkmark.png');
            display: block;
            position: absolute;
            top: -6px;
            left: -5px;
        }
    }
}