﻿a {
    text-decoration: none;
    -moz-transition: color 150ms ease-in-out;
    -o-transition: color 150ms ease-in-out;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;

    &:hover, &:focus {
        text-decoration: none;
    }
}

.h2 {
    color: #595959;
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;

    a {
        padding: 0 15px;

        &.border-right {
            border-right: 1px solid #d6d6d6;
        }
    }
}