﻿@turquoise:                 #1abc9c;
@green-sea:                 #16a085;

@emerald:                   #2ecc71;
@nephritis:                 #27ae60;

@peter-river:               #3498db;
@belize-hole:               #2980b9;

@amethyst:                  #9b59b6;
@wisteria:                  #8e44ad;

@wet-asphalt:               #34495e;
@midnight-blue:             #2c3e50;

@sun-flower:                #f1c40f;
@orange:                    #f39c12;

@carrot:                    #e67e22;
@pumpkin:                   #d35400;

@alizarin:                  #e74c3c;
@pomegranate:               #c0392b;

@clouds:                    #ecf0f1;
@silver:                    #bdc3c7;

@concrete:                  #95a5a6;
@asbestos:                  #7f8c8d;

// Grays
@gray:                      #34495E;
@gray-light:                @silver;
@inverse:                   white;

// Brand colors
@brand-primary:             @peter-river;
@brand-secondary:           #FF3C52;
@brand-success:             @emerald;
@brand-warning:             @sun-flower;
@brand-danger:              @alizarin;
@brand-info:                @belize-hole;

// Link colors
@link-color:                @brand-primary;
@link-hover-color:          @brand-secondary;

// Social colors
@social-pinterest:          #cb2028;
@social-linkedin:           #0072b5;
@social-stumbleupon:        #ed4a13;
@social-googleplus:         #2d2d2d;
@social-facebook:           #2f4b93;
@social-twitter:            #00bdef;

// Footer
@footer-size:               292px;

// Buttons
@btn-font-weight:           bold;

@btn-secondary-color:       #fff;
@btn-secondary-bg:          @brand-secondary;
@btn-secondary-border:      darken(@btn-secondary-bg, 5%);

// Border radius
@border-radius-base:        0;
@border-radius-large:       0;
@border-radius-small:       0;

// Rows
@grid-gutter-width:         10px;