﻿@model IEnumerable<Total.Entity.Banner>

<div class="main-feature">
@foreach (var banner in Model) {
    <img src="/assets/img/banners/full/@banner.Image" alt="@banner.ImageAlt" class="center-block img-responsive" />
}
</div><!-- /main-feature -->