﻿@model IEnumerable<Total.Entity.Category>
<nav id="primary">
    <ul class="list-inline text-center">
    @foreach (var category in Model) {
        <li><a href="#">@category.Name</a></li>
    }
    </ul>
</nav>
