﻿@model SideFeatureModel
@{
    if (Model.LeftBanner == null || Model.RightBanner == null) {
        return;
    }
}
<div class="row">
    <div class="col-md-6">
        <a href="#">
            <img src="/assets/img/features/@Model.LeftBanner.Image" alt="@Model.LeftBanner.ImageAlt" class="img-responsive" />
        </a>
    </div>
    <div class="col-md-6">
        <a href="#">
            <img src="/assets/img/features/@Model.RightBanner.Image" alt="@Model.RightBanner.ImageAlt" class="img-responsive" />
        </a>
    </div>
</div>
