﻿<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>@ViewBag.Title | @App["ClientName"]</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,500,700,400italic,500italic,300italic,700italic' rel='stylesheet' type='text/css'>
        @Styles.Render("~/css/bootstrap", "~/css/font-awesome", "~/css/main")
        @Scripts.Render("~/js/modernizr")
    </head>
    <body>
        <div class="page-wrap">
            @Html.Partial("_SiteHeader")

            @RenderBody()
        </div>
        
        @Html.Partial("_SiteFooter")

        @Scripts.Render("~/js/jquery", "~/js/bootstrap", "~/js/main")
    </body>
</html>
