﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Layouts/DefaultLayout.cshtml";
}

@Html.Action("MainFeature")

<div class="container">
    @Html.Action("SideFeatures")
    
    <h2 class="h2 text-center">
        <a href="#" class="border-right"><strong>Featured</strong></a><a href="#">New Items</a>
    </h2>
</div>

@Html.Action("FeaturedItems", "Partial", new { area = "Products" })