﻿@model ExternalLoginViewModel

@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().ToList();
    var action = Model.Action;
    var returnUrl = Model.ReturnUrl;
    using (Html.BeginForm(action, "Account", new {@ref = returnUrl}))
    {
        @Html.AntiForgeryToken()
        <div class="social-logins">
            @foreach (var p in loginProviders)
            {
                <button type="submit" class="btn btn-default btn-block" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
            }
        </div>
    }
}