﻿<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="user-info">
                    <h4>Welcome back <a href="#">Michael</a>!</h4>
                </div>
            </div><!-- /col-md-4 -->
            <div class="col-md-4 text-center">
                <img src="/assets/img/total-ecommerce-logo.png" alt="Total Ecommerce" />
            </div>
            <div class="col-md-4">
                <div class="search">
                    <input type="search" class="form-control" placeholder="Search" />
                    <i></i>
                </div>
            </div><!-- /col-md-4 -->
        </div><!-- /row -->
    
        @Html.Action("PrimaryNavigation", "Generic", new { area = string.Empty })
    </div><!-- /container -->
</header><!-- /site-header --> 