﻿<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 class="h4">Connect with us</h4>
                <p>Southfield House, Bourne, PE10 0FF</p>
                <p>+44 (0)1778 426661</p>
                <p><a href="#">hello@totalsolutionsgroup.co.uk</a></p>
                <p class="social">
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus-square"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                </p>
            </div>
            <div class="col-md-3">
                <h4 class="h4">Best Sellers</h4>
                @Html.Action("BestSellers", "Partial", new { area = "Products" })
            </div>
            <div class="col-md-3">
                <h4 class="h4">New Items</h4>
                @Html.Action("NewItems", "Partial", new { area = "Products" })
            </div>
            <div class="col-md-3">
                <h4 class="h4">Support</h4>
                
                <ul>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Secure Payment</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Refunds</a></li>
                    <li><a href="#">Track Orders</a></li>
                    <li><a href="#">Services</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>