﻿#primary {
    border-bottom: 5px solid @peter-river;
    .font-size(1.6);
    margin-top: 50px;

    ul {
        margin-bottom: 0;
        li {
            a {
                color: #444444;
                display: block;
                font-weight: 500;
                padding: 10px 25px;
                text-decoration: none;
                text-transform: uppercase;
                transition: all 0.15s ease-in-out;

                &:hover, &:focus {
                    color: @brand-primary;
                }
            }
        }
    }
}