﻿.product-grid {
    height: 832px;
    overflow: hidden;
}

.product {
    &.product-lg {
        margin-top: 10px;
        position: relative;

        @media (min-width: @screen-md-min) {
            .product-description {
                padding-left: 30px;
            }
        }

        .product-description {
            .product-name {
                color: #444444;
                .font-size(4.2, 4.2);
                font-weight: bold;
                margin: 20px 0 0;
                text-transform: uppercase;
            }

            .product-price {
                color: #595959;
                .font-size(3.6, 3.6);
                font-weight: normal;
                margin: 30px 0 50px;
            }

            .product-summary {
                .font-size(1.6);
                font-weight: normal;
                margin-bottom: 50px;
            }

            .btn {
                .font-size(1.6);
                font-weight: normal;
                outline: 0;
                padding: 15px 60px;
                text-decoration: none;
                text-transform: uppercase;
                -moz-transition: all 150ms ease-in-out;
                -o-transition: all 150ms ease-in-out;
                -webkit-transition: all 150ms ease-in-out;
                transition: all 150ms ease-in-out;

                &.btn-link {
                    color: #a0a0a0;
                    .font-size(1.3, 2.4);

                    &:hover {
                        color: @brand-secondary;
                    }
                }
            }

            label {
                color: #595959;
                .font-size(1.3);
                font-weight: bold;
                text-transform: uppercase;
            }

            .product-controls {
                margin-bottom: 20px;
            }
        }

        .product-thumbnails {
            min-height: 100%;
            position: absolute;

            .btn {
                background: #fff;
                background-image: none;
                border: 0;
                box-shadow: none;
                display: block;
                outline: 0;
                width: 100%;

                i {
                    color: @gray-light;
                    font-size: 18px;
                }

                &.btn-up {
                    top: 0;
                }

                &.btn-down {
                    bottom: 0;
                    left: 5px;
                    position: absolute;
                    right: 5px;
                    width: auto;
                }
            }

            ul {
                margin-bottom: 0;
                margin-top: 5px;

                li {
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &.product-sm {
        background: #fff;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
        margin-bottom: 10px;
        padding-bottom: 10px;

        .product-image {
            margin-bottom: 20px;
        }

        .product-name {
            color: #595959;
            .font-size(1.8);
            font-weight: bold;
            margin: 5px 0 0;
            text-transform: uppercase;
        }

        .product-price {
            .font-size(1.8);
            font-weight: 300;
        }

        .product-expand {
            border-top: 1px solid transparent;
            height: 0;
            overflow: hidden;
            -moz-transition: all 300ms ease-in-out;
            -o-transition: all 300ms ease-in-out;
            -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
        }

        .btn-wide {
            display: block;
            font-weight: normal;
            margin: 10px auto;
            padding: 5px 50px;
            text-align: center;
            text-transform: uppercase;
            -moz-transition: all 150ms ease-in-out;
            -o-transition: all 150ms ease-in-out;
            -webkit-transition: all 150ms ease-in-out;
            transition: all 150ms ease-in-out;
        }

        .btn-link {
            color: @gray-light;
            text-decoration: none;

            &:hover {
                color: @brand-secondary;
            }
        }

        &:hover {
            .product-expand {
                border-top: 1px solid #f1f1f1;
                height: 84px;
            }
        }
    }
}