﻿.search {
    position: relative;

    i {
        background: url('/assets/img/ui/sprite-sheet.gif') 100% 50% no-repeat;
        display: block;
        height: 16px;
        margin-top: -8px;
        position: absolute;
        right: 10px;
        top: 50%;
        width: 17px;
    }

    input {
        border-color: #dddddd;
        color: #8d8d8d;
        font-size: 13px;
        font-weight: 500;
        padding-right: 32px;

        &::-moz-placeholder {
            text-transform: uppercase;
        }

        &:-ms-input-placeholder {
            text-transform: uppercase;
        }

        &::-webkit-input-placeholder {
            text-transform: uppercase;
        }

        &:focus {
        }
    }
}