﻿.site-header {
    padding-top: 30px;

    .user-info {
        h4 {
            color: #605f5f;
            .font-size(1.6);
            font-weight: 400;
            text-transform: uppercase;

            a {
                color: #605f5f;
                font-weight: 600;
                text-decoration: none;
            }

            strong {
                .font-size(1.6);
            }
        }
    }
}
