﻿.site-footer {
    color: #595959;
    .font-size(1.4);
    margin-top: -@footer-size;
    padding-bottom: 50px;
    
    .h4 {
        border-bottom: 1px solid #d6d6d6;
        .font-size(1.6);
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 5px;
        text-transform: uppercase;
    }

    p {
        &.social {
            .font-size(2);
            margin-top: 20px;

            i {
                margin-right: 15px;
            }

            a { 
                color: #595959;

                &:hover, &:focus {
                    color: @brand-secondary;
                }
            }
        }
    }

    ul {        
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 5px;

            a { 
                color: #595959;

                &:hover, &:focus {
                    color: @brand-secondary;
                }
            }

            &:before {
                color: #878787;
                content: '-';
                margin-right: 5px;
            }
        }
    }
}