﻿@model ProductViewModel
@{
    ViewBag.Title = Model.Product.Name;
    Layout = "~/Views/Shared/Layouts/DefaultLayout.cshtml";
}

<div class="container">
    <div class="row product product-lg">
        <div class="col-md-6 col-md-push-6 product-description">
            <h1 class="product-name">@Model.Product.Name</h1>
            <h3 class="product-price">@Model.Product.Price.ToString("C")</h3>
            <p class="lead product-summary">@Model.Product.Summary</p>
        
            <div class="product-controls row">
                <div class="col-md-5">
                    <label class="control-label">Choose Size</label>
                    <select class="form-control input-lg">
                        <option>M - Medium</option>
                    </select>
                </div><!-- /col-md-5 -->
                <div class="col-md-5">
                    <label class="control-label">Choose Colour</label>
                    <select class="form-control input-lg">
                        <option value="black">Black</option>
                    </select>
                </div><!-- /col-md-5 -->
                <div class="col-md-2">
                    <label class="control-label">Quantity</label>
                    <input type="number" class="form-control input-lg" value="1" />
                </div><!-- /col-md-2 -->
            </div>

            <button type="submit" class="btn btn-primary btn-lg">Add to basket</button>
            <button type="button" class="btn btn-lg btn-link"><i class="ti-heart"></i> Add to wishlist</button>
        </div><!-- /col-md-6 -->

        <div class="col-md-5 col-md-pull-5 product-image">
            <img src="/assets/img/products/_medium/@Model.DefaultImage.Value" alt="@Model.Product.Name" class="img-responsive center-block" />
        </div><!-- /col-md-6 -->

        <div class="col-md-1 col-md-pull-11 product-thumbnails">
            <button type="button" class="btn btn-xs btn-default btn-up"><i class="ti-angle-up"></i></button>
            
            <ul class="list-unstyled">
            @foreach (var media in Model.Media) {
                <li><img src="/assets/img/products/_tall/@media.Value" alt="Product Image" class="img-responsive center-block" /></li>
            }
            </ul>
            
            <button type="button" class="btn btn-xs btn-default btn-down"><i class="ti-angle-down"></i></button>
        </div>
    </div>
</div><!-- /container -->
