﻿@model IEnumerable<IEnumerable<Product>>

<div class="container product-grid">
    <div class="row">
    @foreach (var products in Model) {
        <div class="col-sm-6 col-md-3">
        @foreach (var product in products) {
            var permalink = product.TryGetMetaValue(ProductMetaKey.Permalink, "#");
            <div class="product product-sm">
                <div class="product-image">
                    <img src="/assets/img/products/_small/product.jpg" alt="Product Image" class="img-responsive center-block" />
                </div><!-- /product-image -->
                <div class="product-info text-center">
                    <img src="/assets/img/brands/_tiny/50x10.jpg" alt="Product Brand" />
                    <h3 class="product-name"><a href="~/product/@permalink-@product.Id">@product.Name</a></h3>
                    <p class="product-price">@product.Price.ToString("C")</p>
                    <div class="product-expand">
                        <button type="button" class="btn btn-primary btn-wide">Add To Basket</button>
                        <button type="button" class="btn btn-link btn-wide"><i class="ti-heart"></i> Add To Wishlist</button>
                    </div>
                </div><!-- /product-info -->
            </div><!-- /product product-sm -->
        }
        </div><!-- /col-sm-6 col-md-3 -->
    }
    </div><!-- /row -->
</div><!-- /container -->