﻿@model IEnumerable<Product>

@foreach (var product in Model) {
    var permalink = product.TryGetMetaValue(ProductMetaKey.Permalink, "#");
    <div class="media">
        <img src="/assets/img/products/_tiny/75x75.jpg" class="img-responsive pull-left" alt="" />
        <div class="media-body">
            <h4 class="media-heading"><a href="~/product/@permalink">@product.Name</a></h4>
            <p class="price">@product.Price.ToString("C")</p>
        </div>
    </div>
}